# Virtual environment
venv/
env/
ENV/
.venv/
.my-env/

*.engine
*.onnx

~                                                                                                                                                                                                           
~           
